.screen-screen {
  background-color: #0f1010;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-screen .screen-2 {
  background-color: var(--black);
  height: 1553px;
  overflow: hidden;
  position: relative;
  width: 390px;
}

.screen-screen .frame-35 {
  align-items: flex-start;
  background-color: var(--dark);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 184px;
  left: 16px;
  padding: 12px;
  position: absolute;
  top: 921px;
  width: 187px;
}

.screen-screen .frame-36 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 9px;
  position: relative;
  width: 100%;
}

.screen-screen .frame-37 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
  width: 100%;
}

.screen-screen .text-wrapper-30 {
  color: var(--white);
  font-family: var(--20-med-font-family);
  font-size: var(--20-med-font-size);
  font-style: var(--20-med-font-style);
  font-weight: var(--20-med-font-weight);
  letter-spacing: var(--20-med-letter-spacing);
  line-height: var(--20-med-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen-screen .gold-wrapper {
  align-items: center;
  background-color: var(--dark);
  border-radius: 39px;
  display: flex;
  gap: 10px;
  height: 24px;
  justify-content: center;
  padding: 7px 5px;
  position: relative;
  width: 24px;
}

.screen-screen .gold-3 {
  height: 16px;
  margin-bottom: -3.00px;
  margin-left: -1.00px;
  margin-right: -1.00px;
  margin-top: -3.00px;
  object-fit: cover;
  position: relative;
  width: 16px;
}

.screen-screen .frame-38 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
  width: 100%;
}

.screen-screen .text-wrapper-31 {
  color: var(--green);
  font-family: var(--14-reg-font-family);
  font-size: var(--14-reg-font-size);
  font-style: var(--14-reg-font-style);
  font-weight: var(--14-reg-font-weight);
  letter-spacing: var(--14-reg-letter-spacing);
  line-height: var(--14-reg-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.screen-screen .vector {
  align-self: stretch;
  height: 69.19px;
  margin-left: -0.43px;
  margin-right: -0.48px;
  position: relative;
  width: 100%;
}

.screen-screen .frame-39 {
  align-items: flex-start;
  background-color: var(--dark);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 184px;
  left: 216px;
  padding: 12px;
  position: absolute;
  top: 921px;
  width: 187px;
}

.screen-screen .frame-40 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 24px;
  position: relative;
  width: 163px;
}

.screen-screen .frame-41 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.screen-screen .img-2 {
  height: 24px;
  position: relative;
  width: 24px;
}

.screen-screen .text-wrapper-32 {
  color: var(--red);
  font-family: var(--14-reg-font-family);
  font-size: var(--14-reg-font-size);
  font-style: var(--14-reg-font-style);
  font-weight: var(--14-reg-font-weight);
  letter-spacing: var(--14-reg-letter-spacing);
  line-height: var(--14-reg-line-height);
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  width: fit-content;
}

.screen-screen .vector-2 {
  align-self: stretch;
  height: 69.19px;
  margin-left: -0.43px;
  position: relative;
  width: 100%;
}

.screen-screen .frame-42 {
  align-items: flex-start;
  background-color: var(--dark);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 16px;
  padding: 12px;
  position: absolute;
  top: 1174px;
  width: 302px;
}

.screen-screen .text-wrapper-33 {
  align-self: stretch;
  color: var(--white);
  font-family: var(--20-med-font-family);
  font-size: var(--20-med-font-size);
  font-style: var(--20-med-font-style);
  font-weight: var(--20-med-font-weight);
  letter-spacing: var(--20-med-letter-spacing);
  line-height: var(--20-med-line-height);
  margin-top: -1.00px;
  position: relative;
}

.screen-screen .text-wrapper-34 {
  align-self: stretch;
  color: var(--white);
  font-family: var(--14-reg-font-family);
  font-size: var(--14-reg-font-size);
  font-style: var(--14-reg-font-style);
  font-weight: var(--14-reg-font-weight);
  letter-spacing: var(--14-reg-letter-spacing);
  line-height: var(--14-reg-line-height);
  opacity: 0.26;
  position: relative;
}

.screen-screen .RUB-EUR {
  align-self: stretch;
  background-color: transparent;
  border: 0;
  color: var(--white);
  font-family: var(--14-reg-font-family);
  font-size: var(--14-reg-font-size);
  font-style: var(--14-reg-font-style);
  font-weight: var(--14-reg-font-weight);
  height: 102px;
  letter-spacing: var(--14-reg-letter-spacing);
  line-height: var(--14-reg-line-height);
  padding: 0;
  position: relative;
  width: 100%;
}

.screen-screen .RUB-EUR::placeholder {
  color: #ffffff99;
}

.screen-screen .frame-43 {
  align-items: flex-start;
  background-color: var(--dark);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  left: 331px;
  padding: 12px;
  position: absolute;
  top: 1174px;
  width: 302px;
}

.screen-screen .home-indicator-2 {
  background-color: var(--dark) !important;
  left: 0 !important;
  position: absolute !important;
  top: 1519px !important;
  width: 390px !important;
}

.screen-screen .home-indicator-3 {
  left: 127px !important;
}

.screen-screen .overlap-2 {
  height: 105px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.screen-screen .component-2 {
  background-color: #131313;
  height: 105px;
  left: 0;
  position: absolute;
  top: 0;
  width: 390px;
}

.screen-screen .frame-44 {
  align-items: center;
  display: flex;
  gap: 8px;
  left: 16px;
  position: relative;
  top: 56px;
  width: 358px;
}

.screen-screen .frame-45 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  padding: 10px;
  position: relative;
  width: 40px;
}

.screen-screen .image-5 {
  height: 40px;
  margin-bottom: -10.00px;
  margin-left: -10.00px;
  margin-right: -10.00px;
  margin-top: -10.00px;
  object-fit: cover;
  position: relative;
  width: 40px;
}

.screen-screen .image-6 {
  background-color: var(--red);
  border-radius: 4px;
  height: 8px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 8px;
}

.screen-screen .frame-46 {
  align-items: center;
  background-color: #000000;
  border-radius: 50px;
  display: flex;
  flex: 1;
  flex-grow: 1;
  height: 40px;
  justify-content: space-between;
  padding: 0px 4px 0px 9px;
  position: relative;
}

.screen-screen .group-3 {
  height: 32px;
  position: relative;
  width: 32px;
}

.screen-screen .group-4 {
  background-color: var(--grey);
  border-radius: 20px;
  height: 40px;
  position: relative;
  width: 40px;
}

.screen-screen .element-3 {
  height: 39px;
  position: relative;
  width: 40px;
}

.screen-screen .status-bar-2 {
  height: 44px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 375px;
}

.screen-screen .component-3 {
  background-color: #131313;
  height: 57px;
  left: 0;
  position: absolute;
  top: 1462px;
  width: 390px;
}

.screen-screen .overlap-group-3 {
  height: 57px;
  left: 30px;
  position: relative;
  top: 4px;
  width: 324px;
}

.screen-screen .rectangle-4 {
  background-color: var(--grey);
  border-radius: 10px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 68px;
}

.screen-screen .frame-47 {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 40px;
  justify-content: center;
  left: 6px;
  position: absolute;
  top: 9px;
  width: 318px;
}

.screen-screen .frame-48 {
  flex: 1;
  flex-grow: 1;
  height: 40px;
  position: relative;
}

.screen-screen .group-5 {
  height: 23px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 19px;
}

.screen-screen .text-wrapper-35 {
  color: var(--white);
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.screen-screen .loop {
  height: 24px;
  left: 15px;
  position: absolute;
  top: 0;
  width: 24px;
}

.screen-screen .text-wrapper-36 {
  color: #3d3d3d;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.screen-screen .text-wrapper-37 {
  color: #3d3d3d;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 6px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.screen-screen .text-wrapper-38 {
  color: #3d3d3d;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.screen-screen .bank {
  height: 24px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 24px;
}

.screen-screen .text-wrapper-39 {
  color: #3d3d3d;
  font-family: "Inter", Helvetica;
  font-size: 11px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
}

.screen-screen .frame-49 {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  left: 16px;
  position: absolute;
  top: 355px;
}

.screen-screen .frame-50 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
  width: 78px;
}

.screen-screen .group-6 {
  background: linear-gradient(
    180deg,
    rgba(175, 138, 57, 1) 0%,
    rgba(255, 222, 125, 1) 41%,
    rgba(175, 138, 57, 1) 100%
  );
  border-radius: 24px;
  height: 48px;
  position: relative;
  width: 48px;
}

.screen-screen .credit-card-arrow-wrapper {
  background-image: url(../../../static/img/ellipse-4.svg);
  background-size: 100% 100%;
  height: 42px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 42px;
}

.screen-screen .credit-card-arrow {
  height: 24px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 24px;
}

.screen-screen .text-wrapper-40 {
  align-self: stretch;
  color: var(--white);
  font-family: var(--12-reg-font-family);
  font-size: var(--12-reg-font-size);
  font-style: var(--12-reg-font-style);
  font-weight: var(--12-reg-font-weight);
  letter-spacing: var(--12-reg-letter-spacing);
  line-height: var(--12-reg-line-height);
  position: relative;
  text-align: center;
}

.screen-screen .frame-51 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
  width: 77px;
}

.screen-screen .group-7 {
  height: 48px;
  position: relative;
  width: 48px;
}

.screen-screen .overlap-group-4 {
  background: linear-gradient(
    180deg,
    rgba(175, 138, 57, 1) 0%,
    rgba(255, 222, 125, 1) 41%,
    rgba(175, 138, 57, 1) 100%
  );
  border: 1px solid;
  border-color: #1314141a;
  border-radius: 25px;
  box-shadow: 0px 0px 10px #ffa50080;
  height: 50px;
  left: -1px;
  position: relative;
  top: -1px;
  width: 50px;
}

.screen-screen .ellipse-5 {
  height: 42px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 42px;
}

.screen-screen .img-3 {
  height: 24px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 24px;
}

.screen-screen .ellipse-6 {
  height: 42px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 42px;
}

.screen-screen .layer {
  background-image: url(../../../static/img/vector-2.svg);
  background-size: 100% 100%;
  height: 25px;
  left: 12px;
  position: absolute;
  top: 11px;
  width: 24px;
}

.screen-screen .text-wrapper-41 {
  color: var(--white);
  font-family: var(--12-reg-font-family);
  font-size: var(--12-reg-font-size);
  font-style: var(--12-reg-font-style);
  font-weight: var(--12-reg-font-weight);
  letter-spacing: var(--12-reg-letter-spacing);
  line-height: var(--12-reg-line-height);
  margin-left: -4.00px;
  margin-right: -4.00px;
  position: relative;
  text-align: center;
  width: 86px;
}

.screen-screen .dots-horizontal-wrapper {
  background-color: var(--grey);
  border-radius: 24px;
  height: 48px;
  position: relative;
  width: 48px;
}

.screen-screen .frame-52 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 16px;
  position: absolute;
  top: 131px;
  width: 358px;
}

.screen-screen .frame-53 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
  width: 100%;
}

.screen-screen .text-wrapper-42 {
  color: var(--white);
  font-family: var(--14-reg-font-family);
  font-size: var(--14-reg-font-size);
  font-style: var(--14-reg-font-style);
  font-weight: var(--14-reg-font-weight);
  letter-spacing: var(--14-reg-letter-spacing);
  line-height: var(--14-reg-line-height);
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.screen-screen .eye {
  height: 18px;
  position: relative;
  width: 18px;
}

.screen-screen .frame-54 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
  width: 100%;
}

.screen-screen .text-wrapper-43 {
  color: var(--white);
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.50px;
  position: relative;
  width: fit-content;
}

.screen-screen .chart-line-up {
  height: 24px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 24px;
}

.screen-screen .frame-55 {
  align-items: flex-start;
  background-color: var(--dark);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  left: 16px;
  padding: 12px;
  position: absolute;
  top: 210px;
  width: 187px;
}

.screen-screen .frame-56 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.screen-screen .frame-57 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 5px;
  position: relative;
}

.screen-screen .img-4 {
  height: 16px;
  position: relative;
  width: 16px;
}

.screen-screen .text-wrapper-44 {
  color: #3d3d3d;
  font-family: var(--12-reg-font-family);
  font-size: var(--12-reg-font-size);
  font-style: var(--12-reg-font-style);
  font-weight: var(--12-reg-font-weight);
  letter-spacing: var(--12-reg-letter-spacing);
  line-height: var(--12-reg-line-height);
  margin-top: -0.50px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.screen-screen .text-wrapper-45 {
  color: var(--white);
  font-family: var(--24-bold-font-family);
  font-size: var(--24-bold-font-size);
  font-style: var(--24-bold-font-style);
  font-weight: var(--24-bold-font-weight);
  letter-spacing: var(--24-bold-letter-spacing);
  line-height: var(--24-bold-line-height);
  position: relative;
  width: fit-content;
}

.screen-screen .frame-58 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 16px;
  position: absolute;
  top: 719px;
}

.screen-screen .frame-59 {
  align-items: flex-start;
  background-color: var(--dark);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 133px;
  padding: 12px;
  position: relative;
  width: 124px;
}

.screen-screen .image-7 {
  height: 60px;
  object-fit: cover;
  position: relative;
  width: 100px;
}

.screen-screen .image-8 {
  height: 60px;
  object-fit: cover;
  position: relative;
  width: 60px;
}

.screen-screen .frame-60 {
  align-items: flex-start;
  background-color: var(--grey);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 133px;
  padding: 12px;
  position: relative;
  width: 124px;
}

.screen-screen .image-9 {
  height: 60px;
  object-fit: cover;
  position: relative;
  width: 39px;
}

.screen-screen .credit-card {
  height: 16px;
  margin-left: -880.00px;
  margin-top: -824.00px;
  position: relative;
  width: 16px;
}

.screen-screen .credit-card-plus {
  height: 60px;
  margin-left: -1002.00px;
  margin-top: -719.00px;
  position: relative;
  width: 60px;
}

.screen-screen .frame-61 {
  align-items: flex-start;
  background-color: var(--dark);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  left: 215px;
  padding: 12px;
  position: absolute;
  top: 210px;
  width: 187px;
}

.screen-screen .frame-62 {
  align-items: center;
  background-color: var(--dark);
  border-radius: 16px;
  display: flex;
  gap: 20px;
  height: 72px;
  left: 16px;
  padding: 12px;
  position: absolute;
  top: 496px;
  width: 358px;
}

.screen-screen .text-wrapper-46 {
  color: var(--white);
  flex: 1;
  font-family: var(--24-bold-font-family);
  font-size: var(--24-bold-font-size);
  font-style: var(--24-bold-font-style);
  font-weight: var(--24-bold-font-weight);
  letter-spacing: var(--24-bold-letter-spacing);
  line-height: var(--24-bold-line-height);
  position: relative;
  text-align: right;
}

.screen-screen .frame-63 {
  align-items: center;
  background-color: var(--dark);
  border-radius: 16px;
  display: flex;
  gap: 20px;
  height: 72px;
  left: 16px;
  padding: 12px;
  position: absolute;
  top: 578px;
  width: 358px;
}

.screen-screen .frame-64 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 16px;
  position: absolute;
  top: 451px;
  width: 358px;
}

.screen-screen .text-wrapper-47 {
  color: var(--white);
  font-family: var(--24-bold-font-family);
  font-size: var(--24-bold-font-size);
  font-style: var(--24-bold-font-style);
  font-weight: var(--24-bold-font-weight);
  letter-spacing: var(--24-bold-letter-spacing);
  line-height: var(--24-bold-line-height);
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.screen-screen .text-wrapper-48 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgba(175, 138, 57, 1) 0%,
    rgba(255, 222, 125, 1) 41%,
    rgba(175, 138, 57, 1) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: var(--12-reg-font-family);
  font-size: var(--12-reg-font-size);
  font-style: var(--12-reg-font-style);
  font-weight: var(--12-reg-font-weight);
  height: 23px;
  letter-spacing: var(--12-reg-letter-spacing);
  line-height: var(--12-reg-line-height);
  position: relative;
  text-decoration: underline;
  text-fill-color: transparent;
  width: 82px;
}

.screen-screen .frame-65 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 16px;
  position: absolute;
  top: 876px;
  width: 358px;
}

.screen-screen .frame-66 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 16px;
  position: absolute;
  top: 674px;
  width: 358px;
}

.screen-screen .frame-67 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  left: 16px;
  position: absolute;
  top: 1129px;
  width: 358px;
}

.screen-screen .frame-68 {
  align-items: center;
  border: none;
  border-radius: 20px;
  display: flex;
  gap: 10px;
  height: 48px;
  justify-content: center;
  left: 16px;
  padding: 10px;
  position: absolute;
  top: 1389px;
  width: 358px;
}

.screen-screen .frame-68::before {
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  background: linear-gradient(
    180deg,
    rgba(175, 138, 57, 1) 0%,
    rgba(255, 222, 125, 1) 41%,
    rgba(175, 138, 57, 1) 100%
  );
  border-radius: 20px;
  content: "";
  inset: 0;
  mask-composite: exclude;
  padding: 1px;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}

.screen-screen .text-wrapper-49 {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    180deg,
    rgba(175, 138, 57, 1) 0%,
    rgba(255, 222, 125, 1) 41%,
    rgba(175, 138, 57, 1) 100%
  );
  background-clip: text;
  color: transparent;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-fill-color: transparent;
  width: fit-content;
}
