.filter-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-tabs {
  display: flex;
  align-items: center;
  gap: 20px;
}

.filter-tab {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
}

.currency-selector {
  margin-left: auto;
}

.currency-option {
  background-color: #131414;
  border-radius: 20px;
  padding: 4px 6px;
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.flag-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.filter-divider {
  height: 1px;
  background-color: rgba(90, 96, 96, 0.11);
  width: 100%;
}

.filter-options {
  display: flex;
  align-items: center;
  gap: 32px;
}

.filter-option {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 400;
}

.filter-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
}

.filter-btn svg {
  width: 24px;
  height: 24px;
}